body {
    background-image:url("https://static.vecteezy.com/system/resources/thumbnails/002/016/010/original/futuristic-threshold-with-reflections-on-wall-and-floor-free-video.jpg") ;
    background-repeat: no-repeat;
    background-size: cover;
  }

a:link, a:visited {
  background-color: #06e2ff;
  color: red;
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: cyan;
}
h1{
    color: sienna;
    background-color: grey;
    font-size: 30px;
    text-align: center;
    margin: 50px;
    padding: 30px;
    border: 3px solid red;
    border-radius: 50px;
}
p{
  color: green;
}
img{
  height: 300px;
  border: 10px solid red;
  border-radius: 50px;
  padding: 20px;
}
.sonic{
  color: blue;
}
.fnaf{
  color: brown;
}
.R{
  color: white;
}
ul{
  font-size: larger;
}
.sgi{
  font-size: larger;
  color: aqua;
}
mark {
  background-color: yellow !important;
}
